<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd03d666-363d-4f4c-b68d-f19996e63057" Alias="Products Maximum" Level="1">
  <Info>
    <Name>Products Maximum</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 3,
  "step": 3
}]]></Config>
</DataType>