@using UmbCheckout.StarterKit.Web.Extensions
@using UmbNav.Core.Models
@inherits UmbracoViewPage
@foreach (var menuItem in Model.GetSiteSettings().Value<IEnumerable<UmbNavItem>>("footerNavigation"))
{
    if (menuItem.Children != null && menuItem.Children.Any())
    {
        <div class="col-12 col-md-2 mb-3">
            <umbnavitem menu-item="menuItem" label-tag-name="h5"></umbnavitem>
            <ul class="nav flex-column">
                @foreach (var menuItemChild in menuItem.Children)
                {
                    <umbnavitem menu-item="menuItemChild" class="nav-link p-0 text-body-secondary" active-class="active"></umbnavitem>
                }
            </ul>
        </div>
    }
}