@using MetaMomentum.Models
@using UmbCheckout.StarterKit.Web.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
}
<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    @await RenderSectionAsync("HeadStart", false)
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <partial name="Partials/MetaMomentum/RenderMetaTags" model="@(Model.Value<MetaValues>("metaData"))" />

    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    @await SmidgeHelper.CssHereAsync()
    @await RenderSectionAsync("HeadEnd", false)
</head>
<body>
    @await RenderSectionAsync("BodyStart", false)

    <partial name="Partials/nav/TopNavigation" />

    @RenderBody()
    <footer class="py-5 bg-dark-subtle">
        <div class="container">
            <div class="row">
                <partial name="Partials/nav/FooterNavigation" />

                <div class="col-md-5 offset-md-1 mb-3">
                    <partial name="Partials/nav/MailChimpSignup" />
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>@(Model.GetSiteSettings().Value<string>("copyright").Replace("[[SITENAME]]", Model.GetSiteSettings().Value<string>("siteName")).Replace("[[YEAR]]", DateTime.Now.Year.ToString()))</p>
                <partial name="Partials/nav/SocialIcons" />
            </div>
        </div>
    </footer>
    @await SmidgeHelper.JsHereAsync()
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("BodyEnd", false)
</body>
</html>
