@using Umbraco.Cms.Core.Strings
@inherits UmbracoViewPage
@{
	Layout = "_Master.cshtml";
}
<section class="py-5 text-center">
    <div class="container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">
                    @{
                        if (Model.HasValue("heroHeading"))
                        {
                            @(Model.Value<string>("heroHeading"))
                        }
                        else
                        {
                            @Model.Name
                        }
                    }
                </h1>
                @(Model.Value("heroIntroduction"))
            </div>
        </div>
    </div>
</section>
<div class="py-5 bg-body-tertiary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                @(Model.Value<IHtmlEncodedString>("text"))
            </div>
        </div>
    </div>
</div>