<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="92f16d30-1933-45f2-a9d4-d61c02f41e98" Alias="blog" Level="2">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-book color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="6e9127cb-0718-4349-b564-467a206d656a">hero</Composition>
      <Composition Key="b052179a-7bf5-401f-87b8-1006f44d451a">meta</Composition>
    </Compositions>
    <DefaultTemplate>Blog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="717b91bf-257b-42ce-a374-7073b7215a0d">Blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="00a320cd-3ed4-47fb-956b-f158974d5916" SortOrder="0">blogPost</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>