<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b052179a-7bf5-401f-87b8-1006f44d451a" Alias="meta" Level="2">
  <Info>
    <Name>Meta</Name>
    <Icon>icon-search color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a1abdc1b-1ab6-4045-8001-e54edbc575b5</Key>
      <Name>Meta Data</Name>
      <Alias>metaData</Alias>
      <Definition>0ec1b7f2-b7ae-4e5e-8ccf-44ee6422479d</Definition>
      <Type>DM.MetaMomentum</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="meta">Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e480da9c-ca02-4b72-b168-6b6db1f0b925</Key>
      <Caption>Meta</Caption>
      <Alias>meta</Alias>
      <Type>Tab</Type>
      <SortOrder>99</SortOrder>
    </Tab>
  </Tabs>
</ContentType>