<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d9ddd73a-3769-429e-adff-ecb69cd3eb6f" Alias="notFoundPage" Level="2">
  <Info>
    <Name>Not Found Page</Name>
    <Icon>icon-application-error color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>NotFoundPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b38e60c9-3dee-4822-b6d2-e64c88830929">NotFoundPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>