<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="01b41d8c-0f21-4989-bb01-ced3a2c27f42" Alias="search" Level="2">
  <Info>
    <Name>Search</Name>
    <Icon>icon-search color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="6e9127cb-0718-4349-b564-467a206d656a">hero</Composition>
      <Composition Key="b052179a-7bf5-401f-87b8-1006f44d451a">meta</Composition>
    </Compositions>
    <DefaultTemplate>Search</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ece7d152-17de-49ce-9177-98de9329f465">Search</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>