<?xml version="1.0" encoding="utf-8"?>
<Content Key="64837c06-45a0-4108-9d97-a64c1cf74240" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-08-11T13:18:23</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8a6f705f-2f7f-48c9-8d60-9dbbc544aa3a">Home</Template>
  </Info>
  <Properties />
</Content>