<?xml version="1.0" encoding="utf-8"?>
<Content Key="be25670b-cdd1-4589-8ab8-9e1a57e9a63b" Alias="Not Found Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NotFoundPage</Path>
    <Trashed>false</Trashed>
    <ContentType>notFoundPage</ContentType>
    <CreateDate>2023-08-14T18:22:48</CreateDate>
    <NodeName Default="Not Found Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b38e60c9-3dee-4822-b6d2-e64c88830929">NotFoundPage</Template>
  </Info>
  <Properties />
</Content>