<?xml version="1.0" encoding="utf-8"?>
<Content Key="25258e93-e875-4fe0-b6f3-2c3693353e2b" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="64837c06-45a0-4108-9d97-a64c1cf74240">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2023-08-11T14:48:40</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <siteName>
      <Value><![CDATA[UmbCheckout Demo]]></Value>
    </siteName>
    <topNavigation>
      <Value><![CDATA[[
  {
    "description": "#",
    "title": "Shop",
    "url": "#",
    "children": [
      {
        "description": "#",
        "title": "T-Shirts",
        "url": "#",
        "children": [],
        "icon": "icon-link",
        "itemType": "link"
      },
      {
        "description": "#",
        "title": "Underware",
        "url": "#",
        "children": [],
        "icon": "icon-link",
        "itemType": "link"
      },
      {
        "description": "#",
        "title": "Clothing",
        "url": "#",
        "children": [],
        "icon": "icon-link",
        "itemType": "link"
      },
      {
        "description": "#",
        "title": "Watches",
        "url": "#",
        "children": [],
        "icon": "icon-link",
        "itemType": "link"
      },
      {
        "description": "#",
        "title": "Shoes",
        "url": "#",
        "children": [],
        "icon": "icon-link",
        "itemType": "link"
      }
    ],
    "icon": "icon-link",
    "itemType": "link"
  },
  {
    "description": "#",
    "title": "About Us",
    "url": "#",
    "children": [],
    "icon": "icon-link",
    "itemType": "link"
  },
  {
    "description": "#",
    "title": "Blog",
    "url": "#",
    "children": [],
    "icon": "icon-link",
    "itemType": "link"
  },
  {
    "description": "#",
    "title": "Contact",
    "url": "#",
    "children": [],
    "icon": "icon-link",
    "itemType": "link"
  },
  {
    "description": "#",
    "title": "Basket",
    "url": "#",
    "children": [],
    "icon": "icon-link",
    "itemType": "link"
  }
]]]></Value>
    </topNavigation>
  </Properties>
</Content>