<?xml version="1.0" encoding="utf-8"?>
<Content Key="25258e93-e875-4fe0-b6f3-2c3693353e2b" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="64837c06-45a0-4108-9d97-a64c1cf74240">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2023-08-11T14:48:40</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <copyright>
      <Value><![CDATA[Copyright © [[YEAR]] [[SITENAME]], All Rights Reserved.]]></Value>
    </copyright>
    <footerNavigation>
      <Value><![CDATA[[
  {
    "udi": null,
    "description": null,
    "title": "Section",
    "target": null,
    "noopener": false,
    "noreferrer": false,
    "anchor": null,
    "url": null,
    "children": [
      {
        "udi": "umb://document/64837c0645a041089d97a64c1cf74240",
        "key": "64837c06-45a0-4108-9d97-a64c1cf74240",
        "name": "Home",
        "description": "/",
        "title": "Home",
        "url": "/",
        "children": [],
        "icon": "icon-home color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      },
      {
        "udi": "umb://document/64837c0645a041089d97a64c1cf74240",
        "key": "64837c06-45a0-4108-9d97-a64c1cf74240",
        "name": "Home",
        "description": "/",
        "title": "Home",
        "url": "/",
        "children": [],
        "icon": "icon-home color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      },
      {
        "udi": "umb://document/64837c0645a041089d97a64c1cf74240",
        "key": "64837c06-45a0-4108-9d97-a64c1cf74240",
        "name": "Home",
        "description": "/",
        "title": "Home",
        "url": "/",
        "children": [],
        "icon": "icon-home color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      },
      {
        "udi": "umb://document/64837c0645a041089d97a64c1cf74240",
        "key": "64837c06-45a0-4108-9d97-a64c1cf74240",
        "name": "Home",
        "description": "/",
        "title": "Home",
        "url": "/",
        "children": [],
        "icon": "icon-home color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      },
      {
        "udi": "umb://document/64837c0645a041089d97a64c1cf74240",
        "key": "64837c06-45a0-4108-9d97-a64c1cf74240",
        "name": "Home",
        "description": "/",
        "title": "Home",
        "url": "/",
        "children": [],
        "icon": "icon-home color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      }
    ],
    "icon": "icon-tag",
    "includeChildNodes": false,
    "itemType": "nolink"
  },
  {
    "udi": null,
    "description": null,
    "title": "Section",
    "target": null,
    "noopener": false,
    "noreferrer": false,
    "anchor": null,
    "url": null,
    "children": [
      {
        "udi": "umb://document/64837c0645a041089d97a64c1cf74240",
        "key": "64837c06-45a0-4108-9d97-a64c1cf74240",
        "name": "Home",
        "description": "/",
        "title": "Home",
        "url": "/",
        "children": [],
        "icon": "icon-home color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      },
      {
        "udi": "umb://document/64837c0645a041089d97a64c1cf74240",
        "key": "64837c06-45a0-4108-9d97-a64c1cf74240",
        "name": "Home",
        "description": "/",
        "title": "Home",
        "url": "/",
        "children": [],
        "icon": "icon-home color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      },
      {
        "udi": "umb://document/64837c0645a041089d97a64c1cf74240",
        "key": "64837c06-45a0-4108-9d97-a64c1cf74240",
        "name": "Home",
        "description": "/",
        "title": "Home",
        "url": "/",
        "children": [],
        "icon": "icon-home color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      },
      {
        "udi": "umb://document/64837c0645a041089d97a64c1cf74240",
        "key": "64837c06-45a0-4108-9d97-a64c1cf74240",
        "name": "Home",
        "description": "/",
        "title": "Home",
        "url": "/",
        "children": [],
        "icon": "icon-home color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      },
      {
        "udi": "umb://document/64837c0645a041089d97a64c1cf74240",
        "key": "64837c06-45a0-4108-9d97-a64c1cf74240",
        "name": "Home",
        "description": "/",
        "title": "Home",
        "url": "/",
        "children": [],
        "icon": "icon-home color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      }
    ],
    "icon": "icon-tag",
    "includeChildNodes": false,
    "itemType": "nolink"
  },
  {
    "udi": null,
    "description": null,
    "title": "Section",
    "target": null,
    "noopener": false,
    "noreferrer": false,
    "anchor": null,
    "url": null,
    "children": [
      {
        "udi": "umb://document/64837c0645a041089d97a64c1cf74240",
        "key": "64837c06-45a0-4108-9d97-a64c1cf74240",
        "name": "Home",
        "description": "/",
        "title": "Home",
        "url": "/",
        "children": [],
        "icon": "icon-home color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      },
      {
        "udi": "umb://document/64837c0645a041089d97a64c1cf74240",
        "key": "64837c06-45a0-4108-9d97-a64c1cf74240",
        "name": "Home",
        "description": "/",
        "title": "Home",
        "url": "/",
        "children": [],
        "icon": "icon-home color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      },
      {
        "udi": "umb://document/64837c0645a041089d97a64c1cf74240",
        "key": "64837c06-45a0-4108-9d97-a64c1cf74240",
        "name": "Home",
        "description": "/",
        "title": "Home",
        "url": "/",
        "children": [],
        "icon": "icon-home color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      },
      {
        "udi": "umb://document/64837c0645a041089d97a64c1cf74240",
        "key": "64837c06-45a0-4108-9d97-a64c1cf74240",
        "name": "Home",
        "description": "/",
        "title": "Home",
        "url": "/",
        "children": [],
        "icon": "icon-home color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      },
      {
        "udi": "umb://document/64837c0645a041089d97a64c1cf74240",
        "key": "64837c06-45a0-4108-9d97-a64c1cf74240",
        "name": "Home",
        "description": "/",
        "title": "Home",
        "url": "/",
        "children": [],
        "icon": "icon-home color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      }
    ],
    "icon": "icon-tag",
    "includeChildNodes": false,
    "itemType": "nolink"
  }
]]]></Value>
    </footerNavigation>
    <mailChimpSignupSubtitle>
      <Value><![CDATA[Monthly digest of what's new and exciting from us.]]></Value>
    </mailChimpSignupSubtitle>
    <mailChimpSignupTitle>
      <Value><![CDATA[Subscribe to our newsletter]]></Value>
    </mailChimpSignupTitle>
    <mailChimpSignupURL>
      <Value><![CDATA[https://umbcheckout.us6.list-manage.com/subscribe/post?u=e6d9d3c98d1ea018bbcd617f6&id=5e49d19f4a]]></Value>
    </mailChimpSignupURL>
    <siteName>
      <Value><![CDATA[UmbCheckout Demo]]></Value>
    </siteName>
    <socialIcons>
      <Value><![CDATA[[
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/"
  },
  {
    "network": "instagram",
    "name": "Instagram",
    "url": "https://instagram.com/"
  },
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://facebook.com/"
  }
]]]></Value>
    </socialIcons>
    <topNavigation>
      <Value><![CDATA[[
  {
    "description": "#",
    "title": "Shop",
    "url": "#",
    "children": [
      {
        "description": "#",
        "title": "T-Shirts",
        "url": "#",
        "children": [],
        "icon": "icon-link",
        "itemType": "link"
      },
      {
        "description": "#",
        "title": "Underware",
        "url": "#",
        "children": [],
        "icon": "icon-link",
        "itemType": "link"
      },
      {
        "description": "#",
        "title": "Clothing",
        "url": "#",
        "children": [],
        "icon": "icon-link",
        "itemType": "link"
      },
      {
        "description": "#",
        "title": "Watches",
        "url": "#",
        "children": [],
        "icon": "icon-link",
        "itemType": "link"
      },
      {
        "description": "#",
        "title": "Shoes",
        "url": "#",
        "children": [],
        "icon": "icon-link",
        "itemType": "link"
      }
    ],
    "icon": "icon-link",
    "itemType": "link"
  },
  {
    "description": "#",
    "title": "About Us",
    "url": "#",
    "children": [],
    "icon": "icon-link",
    "itemType": "link"
  },
  {
    "description": "#",
    "title": "Blog",
    "url": "#",
    "children": [],
    "icon": "icon-link",
    "itemType": "link"
  },
  {
    "description": "#",
    "title": "Contact",
    "url": "#",
    "children": [],
    "icon": "icon-link",
    "itemType": "link"
  },
  {
    "description": "#",
    "title": "Basket",
    "url": "#",
    "children": [],
    "icon": "icon-link",
    "itemType": "link"
  }
]]]></Value>
    </topNavigation>
  </Properties>
</Content>